#login {
  background-image: linear-gradient(to bottom,white,rgb(40, 205, 247));
  height: 100vh;
  
}

.center {
  height: 60vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.login {
  border: 3px solid black;
  border-radius: 1rem;
  text-align: center;
  padding: 2rem;
  box-shadow: 5px 5px 5px #969696;
  background-color: rgba(241, 228, 228, 0.4);
  margin: auto;
  font-size: 1rem;
  overflow: auto;
}

.reg {
  color: #080303;
  font-size: 150%;
}

.hd-border {
  padding-top: 1rem;
  border-bottom: 3px solid rgb(53, 6, 3);
}

.error {
  font-size: 2rem;
  color: rgb(128, 6, 6);
  font-family: cursive;
  font-weight: 600;
}

.input-group {
  position: relative;
  margin: 0;
}

.form-row .name {
  width: 125px;
  color: #555;
  font-size: 15px;
  font-weight: 700;
}

.form-row .value {
  width: -webkit-calc(100% - 125px);
  width: -moz-calc(100% - 125px);
  width: calc(100% - 125px);
}

.inner-div {
  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #3b0801;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: rgb(29, 27, 27);
  background-color: rgba(235, 224, 224, 0.4);
  overflow: auto;
  width: 50%;
}

.common-div {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: rgb(29, 27, 27);
  overflow: auto;
  width: 50%;
}
#rem{
  background: linear-gradient(to top, #66ffcc 0%, #ffffff 100%);
}

#register {
  background: linear-gradient(to bottom, #f0f2f0, #4e6cf3);
}

.heading {
  font-family: "Dancing Script", cursive;
  font-weight: 900;
  font-size: 200%;
}

.successful {
  font-family: Verdana,Tahoma, sans-serif;
  font-weight: 900;
  
}

#user {
  background-image: linear-gradient(to bottom, white, rgb(117, 4, 4));
  height: 100vh;
}

.user {
  background-color: rgba(250, 248, 248, 0.979);
  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #3b0801;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: rgb(29, 27, 27);
  overflow: auto;
  width: 50%;
}


#update {
  background-image: linear-gradient(to bottom,white,rgb(247, 140, 40));
  height: auto;
}

#eligibility{
  background-image:linear-gradient(to bottom,white,rgb(250, 152, 245));
  min-height: 100vh;
  max-height: fit-content;
  
}

#delete{
  background-image: linear-gradient(to bottom,white,rgb(129, 248, 129));
  min-height:100vh;
  max-height: fit-content;
}

#contact{
  background-image: linear-gradient(to bottom,white,rgb(129, 248, 129));
  min-height:100vh;
  max-height: fit-content;
}
#about{
  background-image: linear-gradient(to bottom,white,rgb(129, 200, 248));
  min-height:100vh;
  max-height: fit-content;
}
#logout{
  background-image: linear-gradient(to bottom,white,rgb(216, 248, 129));
  min-height:100vh;
  max-height: fit-content;
}
.home{
 
  font-family: 'Caveat', cursive;
  font-size: 3vmax;
  font-weight: bolder;
  color: #3b0801;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}

.thank{
  font-family: 'EB Garamond', serif;
  font-size: 3vmax;
  font-weight:600;
  color: #0313a0;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
  word-spacing: 0.4em;
}

.click{
  font-size: 1.5rem;
  font-family:Georgia, Times, 'Times New Roman', serif;
  text-decoration: dashed;
}
#carousel{
  box-shadow: 0 1rem 1rem rgba(0,0,0,.1);
}
.carousel-inner > .carousel-item > img {
  width:640px;
  height:600px;
}

.carousel-inner>.carousel-item{
  transition: transform 1s ease;
}

.carousel-caption{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
}


.bg-custom{
  background-color: rgba(0,0,0,.4);
  color:white;
  border-radius: 1rem;
}

.carousel-caption h1{
  font-size: 3.8rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}

.border-primary{
  border-top: .2rem solid #4981b3!important;
}

.carousel-caption h3{
  font-size: 2.2rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}

.btn-lg{
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  border-width: medium;
}



.box{
  height: fit-content;
  border-radius: 30px;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.1);
  padding-bottom: 40px;
}

.box img{
  border-radius: 40px;
  height: 200px;

}
.box:hover{
  transform: scale(1.05);
}

.button:hover,
.buttom:focus{
  background-color:#065dc0!important;
  border: .05rem solid #68a0d2!important;
}


.therapy img{
  height: 90%;
}


#remdesivir{
  background-image: linear-gradient(to bottom,white, #f68084 );
  min-height: 100vh;
  max-height: fit-content;

}
#oxy{
  background-image: linear-gradient(to bottom,white, #f68084 );
  min-height: 100vh;
  max-height: fit-content;


}

.about{
  height: fit-content;
  border-radius: 30px;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.1);
  padding-bottom: 40px;
  
}

.about img{
  border-radius: 40px;
  height: 300px;

}


@media screen and (max-width: 1000px) {
  .heading {
    font-size: 150%;
  }
  .inner-div {
    width: 80%;
  }
  #user {
    height: 110vh;
  }
  .user {
    width: 80%;
  }
}

footer{
  position: fixed;
  left: 0%;
  bottom: 0%;
  width: 100%;
}









